In [1]:
# hide GPU from tensorflow
import os
os.environ['CUDA_VISIBLE_DEVICES'] = '-1'

In [2]:
import random
import numpy as np
import tensorflow as tf
import mlflow.keras

from ml_investing_wne import config
from ml_investing_wne.utils import get_logger
from ml_investing_wne.experiment_factory import create_asset, experiment_factory

random.seed(config.seed)
np.random.seed(config.seed)
tf.random.set_seed(config.seed)

In [3]:
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [4]:
config.currency = 'BTCUSDT'
btc = create_asset()
experiment_btc = experiment_factory(btc).get_experiment()

In [5]:
experiment_btc.df.head(10)

,open,high,low,close,volume,y_pred,SMA_5,EMA_5,VAR_5,SMA_10,...,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0,roc_1,hour,weekday,hour_sin,hour_cos,weekday_sin,weekday_cos
datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-03 01:00:00,14758.01,14853.53,14660.00,14820.00,788.317514,1.012690,14752.400,14723.170661,4223.79865,14519.577,...,14868.659003,1.576137,0.790730,0.003078,1,2,0.269797,0.962917,0.866025,-0.5
2018-01-03 02:00:00,14847.97,15119.90,14744.99,15008.07,822.858852,0.987368,14815.534,14818.137107,14683.20843,14661.382,...,15032.297159,2.926161,0.944116,0.012690,2,2,0.519584,0.854419,0.866025,-0.5
2018-01-03 03:00:00,15008.07,15299.99,14750.00,14818.49,1031.188608,1.013576,14819.240,14818.254738,14607.58750,14765.231,...,15035.444255,2.917886,0.498266,-0.012632,3,2,0.730836,0.682553,0.866025,-0.5
2018-01-03 04:00:00,14805.81,15117.56,14795.05,15019.66,781.021342,0.997892,14888.150,14885.389826,13520.53225,14809.197,...,15096.154094,2.794224,0.816124,0.013576,4,2,0.887885,0.460065,0.866025,-0.5
2018-01-03 05:00:00,15031.01,15114.98,14900.00,14988.00,860.383177,1.016989,14930.844,14919.593217,10507.18973,14834.722,...,15114.209774,2.456201,0.655852,-0.002108,5,2,0.979084,0.203456,0.866025,-0.5
2018-01-03 06:00:00,14980.89,15276.13,14858.01,15242.63,908.687696,0.995235,15015.370,15027.272145,22807.41325,14883.885,...,15285.524997,3.598379,0.920610,0.016989,6,2,0.997669,-0.068242,0.866025,-0.5
2018-01-03 07:00:00,15242.64,15307.56,15130.24,15170.00,661.609852,0.988964,15047.756,15074.848096,27460.63373,14931.645,...,15344.191538,3.939930,0.706190,-0.004765,7,2,0.942261,-0.334880,0.866025,-0.5
2018-01-03 08:00:00,15170.00,15172.99,14900.00,15002.59,895.934758,0.967832,15084.576,15050.762064,13135.26043,14951.908,...,15289.595105,2.718261,0.300053,-0.011036,8,2,0.816970,-0.576680,0.866025,-0.5
2018-01-03 09:00:00,15002.59,15048.00,14440.00,14519.99,1241.904776,0.995562,14984.642,14873.838043,79287.57107,14936.396,...,15488.348489,6.722970,0.038767,-0.032168,9,2,0.631088,-0.775711,0.866025,-0.5
2018-01-03 10:00:00,14501.05,14855.00,14150.00,14455.55,1271.034018,1.018989,14878.152,14734.408695,135094.18802,14904.498,...,15535.648313,8.838414,0.178628,-0.004438,10,2,0.398401,-0.917211,0.866025,-0.5

In [6]:
experiment_btc.df['y_pred'] = [1 if y > 1 else 0 for y in  experiment_btc.df['y_pred']]
train_examples = experiment_btc.df.drop(columns=['y_pred']).values
train_labels = experiment_btc.df['y_pred'].values

In [7]:
date_index = experiment_btc.df.reset_index()
date_index.reset_index(inplace=True)
date_index = date_index[['index', 'datetime']]
date_index

       index            datetime
0          0 2018-01-03 01:00:00
1          1 2018-01-03 02:00:00
2          2 2018-01-03 03:00:00
3          3 2018-01-03 04:00:00
4          4 2018-01-03 05:00:00
...      ...                 ...
44482  44482 2023-01-31 17:00:00
44483  44483 2023-01-31 18:00:00
44484  44484 2023-01-31 19:00:00
44485  44485 2023-01-31 20:00:00
44486  44486 2023-01-31 21:00:00

[44487 rows x 2 columns]

In [8]:
experiment_btc.df.head(10)

,open,high,low,close,volume,y_pred,SMA_5,EMA_5,VAR_5,SMA_10,...,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0,roc_1,hour,weekday,hour_sin,hour_cos,weekday_sin,weekday_cos
datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-03 01:00:00,14758.01,14853.53,14660.00,14820.00,788.317514,1,14752.400,14723.170661,4223.79865,14519.577,...,14868.659003,1.576137,0.790730,0.003078,1,2,0.269797,0.962917,0.866025,-0.5
2018-01-03 02:00:00,14847.97,15119.90,14744.99,15008.07,822.858852,0,14815.534,14818.137107,14683.20843,14661.382,...,15032.297159,2.926161,0.944116,0.012690,2,2,0.519584,0.854419,0.866025,-0.5
2018-01-03 03:00:00,15008.07,15299.99,14750.00,14818.49,1031.188608,1,14819.240,14818.254738,14607.58750,14765.231,...,15035.444255,2.917886,0.498266,-0.012632,3,2,0.730836,0.682553,0.866025,-0.5
2018-01-03 04:00:00,14805.81,15117.56,14795.05,15019.66,781.021342,0,14888.150,14885.389826,13520.53225,14809.197,...,15096.154094,2.794224,0.816124,0.013576,4,2,0.887885,0.460065,0.866025,-0.5
2018-01-03 05:00:00,15031.01,15114.98,14900.00,14988.00,860.383177,1,14930.844,14919.593217,10507.18973,14834.722,...,15114.209774,2.456201,0.655852,-0.002108,5,2,0.979084,0.203456,0.866025,-0.5
2018-01-03 06:00:00,14980.89,15276.13,14858.01,15242.63,908.687696,0,15015.370,15027.272145,22807.41325,14883.885,...,15285.524997,3.598379,0.920610,0.016989,6,2,0.997669,-0.068242,0.866025,-0.5
2018-01-03 07:00:00,15242.64,15307.56,15130.24,15170.00,661.609852,0,15047.756,15074.848096,27460.63373,14931.645,...,15344.191538,3.939930,0.706190,-0.004765,7,2,0.942261,-0.334880,0.866025,-0.5
2018-01-03 08:00:00,15170.00,15172.99,14900.00,15002.59,895.934758,0,15084.576,15050.762064,13135.26043,14951.908,...,15289.595105,2.718261,0.300053,-0.011036,8,2,0.816970,-0.576680,0.866025,-0.5
2018-01-03 09:00:00,15002.59,15048.00,14440.00,14519.99,1241.904776,0,14984.642,14873.838043,79287.57107,14936.396,...,15488.348489,6.722970,0.038767,-0.032168,9,2,0.631088,-0.775711,0.866025,-0.5
2018-01-03 10:00:00,14501.05,14855.00,14150.00,14455.55,1271.034018,1,14878.152,14734.408695,135094.18802,14904.498,...,15535.648313,8.838414,0.178628,-0.004438,10,2,0.398401,-0.917211,0.866025,-0.5

In [11]:
from tensorflow.keras.utils import to_categorical

In [10]:
train_labels[sequence_length-1:]

array([1, 0, 1, ..., 0, 0, 1])

In [12]:
to_categorical(train_labels[sequence_length-1:])

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [9]:
sequence_length=10

In [13]:
train_dataset_2 = tf.keras.utils.timeseries_dataset_from_array(train_examples[:-sequence_length], targets=to_categorical(train_labels[sequence_length-1:]),
                                                            sequence_length=sequence_length, sequence_stride=1, batch_size=128)

Metal device set to: Apple M1 Pro

systemMemory: 16.00 GB
maxCacheSize: 5.33 GB

In [14]:
for i, batch in enumerate(train_dataset_2):
  if i == 0:
    inputs, targets = batch
    print(inputs.shape)
    print(inputs[0, :, :])
    print(targets[0])
    print(targets.shape)
    break

(128, 10, 41)
tf.Tensor(
[[ 1.47580100e+04  1.48535300e+04  1.46600000e+04  1.48200000e+04
   7.88317514e+02  1.47524000e+04  1.47231707e+04  4.22379865e+03
   1.45195770e+04  1.45191439e+04  2.00180952e+05  1.42262813e+04
   1.43346345e+04  3.20092987e+05  1.40165645e+04  1.41947771e+04
   3.77744012e+05  1.36303472e+04  1.36303472e+04  2.75612835e+05
   3.75824654e+02  8.81958599e+01  2.87628794e+02  7.17877775e+01
   7.43823419e+01  7.65426702e+01  6.51491208e+01  6.51070528e+01
  -3.23025363e+01  1.46361410e+04  1.47524000e+04  1.48686590e+04
   1.57613680e+00  7.90730174e-01  3.07759367e-03  1.00000000e+00
   2.00000000e+00  2.69796771e-01  9.62917287e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.48479700e+04  1.51199000e+04  1.47449900e+04  1.50080700e+04
   8.22858852e+02  1.48155340e+04  1.48181371e+04  1.46832084e+04
   1.46613820e+04  1.46080396e+04  1.08343465e+05  1.43274860e+04
   1.44188139e+04  3.14053526e+05  1.41041690e+04  1.42722336e+04
   3.90959981e+05  1.36599284e+04  1.36843755e+04  3.13247498e+05
   3.93305012e+02  8.45409742e+01  3.08764038e+02  7.45019125e+01
   7.77678242e+01  8.18523785e+01  7.02452724e+01  6.69520029e+01
  -2.32352178e+01  1.45987708e+04  1.48155340e+04  1.50322972e+04
   2.92616059e+00  9.44116060e-01  1.26902834e-02  2.00000000e+00
   2.00000000e+00  5.19583950e-01  8.54419405e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50080700e+04  1.52999900e+04  1.47500000e+04  1.48184900e+04
   1.03118861e+03  1.48192400e+04  1.48182547e+04  1.46075875e+04
   1.47652310e+04  1.46463033e+04  1.27881921e+04  1.44161160e+04
   1.44687734e+04  2.72643817e+05  1.41779435e+04  1.43242580e+04
   3.81592755e+05  1.36922370e+04  1.37288506e+04  3.35315742e+05
   3.87395150e+02  6.29048896e+01  3.24490260e+02  6.74569525e+01
   6.77410037e+01  6.42580125e+01  7.04072610e+01  6.86005514e+01
  -3.32404630e+01  1.46030357e+04  1.48192400e+04  1.50354443e+04
   2.91788587e+00  4.98265529e-01 -1.26318707e-02  3.00000000e+00
   2.00000000e+00  7.30835964e-01  6.82553143e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.48058100e+04  1.51175600e+04  1.47950500e+04  1.50196600e+04
   7.81021342e+02  1.48881500e+04  1.48853898e+04  1.35205322e+04
   1.48091970e+04  1.47141863e+04  1.40208033e+04  1.44930947e+04
   1.45376343e+04  2.70617299e+05  1.42626220e+04  1.43904867e+04
   3.73141351e+05  1.37260266e+04  1.37794706e+04  3.67435736e+05
   3.94397906e+02  5.59261163e+01  3.38471789e+02  7.06306189e+01
   7.19978065e+01  7.19387271e+01  7.34976640e+01  7.13833991e+01
  -2.30313272e+01  1.46801459e+04  1.48881500e+04  1.50961541e+04
   2.79422352e+00  8.16123585e-01  1.35756072e-02  4.00000000e+00
   2.00000000e+00  8.87885218e-01  4.60065038e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50310100e+04  1.51149800e+04  1.49000000e+04  1.49880000e+04
   8.60383177e+02  1.49308440e+04  1.49195932e+04  1.05071897e+04
   1.48347220e+04  1.47639706e+04  1.61998158e+04  1.45813347e+04
   1.45939300e+04  2.30717440e+05  1.43394220e+04  1.44473928e+04
   3.60041373e+05  1.37575860e+04  1.38268639e+04  3.96883149e+05
   3.92864248e+02  4.35139670e+01  3.49350281e+02  6.94821775e+01
   7.03739422e+01  6.91330506e+01  7.30300585e+01  7.23116612e+01
  -2.46380342e+01  1.47474782e+04  1.49308440e+04  1.51142098e+04
   2.45620106e+00  6.55852422e-01 -2.10790391e-03  5.00000000e+00
   2.00000000e+00  9.79084088e-01  2.03456013e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.49808900e+04  1.52761300e+04  1.48580100e+04  1.52426300e+04
   9.08687696e+02  1.50153700e+04  1.50272721e+04  2.28074132e+04
   1.48838850e+04  1.48509996e+04  3.12231000e+04  1.46848413e+04
   1.46750175e+04  1.93730516e+05  1.44235535e+04  1.45231297e+04
   3.63553154e+05  1.37904184e+04  1.38823841e+04  4.40290114e+05
   4.07497944e+02  4.65181302e+01  3.60979814e+02  7.32494870e+01
   7.53435029e+01  7.75742156e+01  8.02049236e+01  7.55775487e+01
  -1.17158676e+01  1.47452150e+04  1.50153700e+04  1.52855250e+04
   3.59837949e+00  9.20610395e-01  1.69889245e-02  6.00000000e+00
   2.00000000e+00  9.97668769e-01 -6.82424134e-02  8.66025404e-01
  -5.00000000e-01]
 [ 1.52426400e+04  1.53075600e+04  1.51302400e+04  1.51700000e+04
   6.61609852e+02  1.50477560e+04  1.50748481e+04  2.74606337e+04
   1.49316450e+04  1.49089997e+04  3.37103346e+04  1.47901733e+04
   1.47368903e+04  1.13039282e+05  1.45075535e+04  1.45847364e+04
   3.39581588e+05  1.38226386e+04  1.39328789e+04  4.76979486e+05
   4.08525393e+02  3.80364632e+01  3.70488930e+02  7.05733422e+01
   7.15402222e+01  7.09344380e+01  8.19938022e+01  7.84095948e+01
  -1.76646916e+01  1.47513205e+04  1.50477560e+04  1.53441915e+04
   3.93993015e+00  7.06189853e-01 -4.76492574e-03  7.00000000e+00
   2.00000000e+00  9.42260922e-01 -3.34879612e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.51700000e+04  1.51729900e+04  1.49000000e+04  1.50025900e+04
   8.95934758e+02  1.50845760e+04  1.50507621e+04  1.31352604e+04
   1.49519080e+04  1.49260161e+04  3.18865971e+04  1.48716793e+04
   1.47701028e+04  3.62551572e+04  1.45832310e+04  1.46245319e+04
   2.91852625e+05  1.38470822e+04  1.39748283e+04  5.04747396e+05
   3.91320170e+02  1.66649925e+01  3.74655178e+02  6.47052792e+01
   6.33502278e+01  5.73557022e+01  7.44069587e+01  7.88685615e+01
  -4.73985647e+01  1.48795569e+04  1.50845760e+04  1.52895951e+04
   2.71826142e+00  3.00052780e-01 -1.10355966e-02  8.00000000e+00
   2.00000000e+00  8.16969893e-01 -5.76680322e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50025900e+04  1.50480000e+04  1.44400000e+04  1.45199900e+04
   1.24190478e+03  1.49846420e+04  1.48738380e+04  7.92875711e+04
   1.49363960e+04  1.48521932e+04  4.38343532e+04  1.48676787e+04
   1.47388387e+04  3.89957624e+04  1.46159815e+04  1.46145756e+04
   2.63782258e+05  1.38660750e+04  1.39962072e+04  5.12057353e+05
   3.34882800e+02 -3.18179021e+01  3.66700702e+02  5.14295736e+01
   4.63531007e+01  3.45058909e+01  4.80522851e+01  6.81510153e+01
  -9.07798884e+01  1.44809355e+04  1.49846420e+04  1.54883485e+04
   6.72296995e+00  3.87671096e-02 -3.21677790e-02  9.00000000e+00
   2.00000000e+00  6.31087944e-01 -7.75711291e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.45010500e+04  1.48550000e+04  1.41500000e+04  1.44555500e+04
   1.27103402e+03  1.48781520e+04  1.47344087e+04  1.35094188e+05
   1.49044980e+04  1.47800762e+04  6.54829587e+04  1.48491987e+04
   1.47034276e+04  4.94615936e+04  1.46555390e+04  1.45994303e+04
   2.15831468e+05  1.38851862e+04  1.40142207e+04  5.16041039e+05
   2.81708646e+02 -6.79936447e+01  3.49702291e+02  4.99557145e+01
   4.45785870e+01  3.24353937e+01  2.94058623e+01  5.06217020e+01
  -7.36039601e+01  1.42206557e+04  1.48781520e+04  1.55356483e+04
   8.83841371e+00  1.78627856e-01 -4.43801959e-03  1.00000000e+01
   2.00000000e+00  3.98401090e-01 -9.17211302e-01  8.66025404e-01
  -5.00000000e-01]], shape=(10, 41), dtype=float64)
tf.Tensor([0. 1.], shape=(2,), dtype=float32)
(128, 2)

In [15]:
for i, batch in enumerate(train_dataset_2):
  if i == 0:
    inputs, targets = batch
    print(inputs.shape)
    print(inputs[1, :, :])
    print(targets[1])
    print(targets.shape)
    break

(128, 10, 41)
tf.Tensor(
[[ 1.48479700e+04  1.51199000e+04  1.47449900e+04  1.50080700e+04
   8.22858852e+02  1.48155340e+04  1.48181371e+04  1.46832084e+04
   1.46613820e+04  1.46080396e+04  1.08343465e+05  1.43274860e+04
   1.44188139e+04  3.14053526e+05  1.41041690e+04  1.42722336e+04
   3.90959981e+05  1.36599284e+04  1.36843755e+04  3.13247498e+05
   3.93305012e+02  8.45409742e+01  3.08764038e+02  7.45019125e+01
   7.77678242e+01  8.18523785e+01  7.02452724e+01  6.69520029e+01
  -2.32352178e+01  1.45987708e+04  1.48155340e+04  1.50322972e+04
   2.92616059e+00  9.44116060e-01  1.26902834e-02  2.00000000e+00
   2.00000000e+00  5.19583950e-01  8.54419405e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50080700e+04  1.52999900e+04  1.47500000e+04  1.48184900e+04
   1.03118861e+03  1.48192400e+04  1.48182547e+04  1.46075875e+04
   1.47652310e+04  1.46463033e+04  1.27881921e+04  1.44161160e+04
   1.44687734e+04  2.72643817e+05  1.41779435e+04  1.43242580e+04
   3.81592755e+05  1.36922370e+04  1.37288506e+04  3.35315742e+05
   3.87395150e+02  6.29048896e+01  3.24490260e+02  6.74569525e+01
   6.77410037e+01  6.42580125e+01  7.04072610e+01  6.86005514e+01
  -3.32404630e+01  1.46030357e+04  1.48192400e+04  1.50354443e+04
   2.91788587e+00  4.98265529e-01 -1.26318707e-02  3.00000000e+00
   2.00000000e+00  7.30835964e-01  6.82553143e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.48058100e+04  1.51175600e+04  1.47950500e+04  1.50196600e+04
   7.81021342e+02  1.48881500e+04  1.48853898e+04  1.35205322e+04
   1.48091970e+04  1.47141863e+04  1.40208033e+04  1.44930947e+04
   1.45376343e+04  2.70617299e+05  1.42626220e+04  1.43904867e+04
   3.73141351e+05  1.37260266e+04  1.37794706e+04  3.67435736e+05
   3.94397906e+02  5.59261163e+01  3.38471789e+02  7.06306189e+01
   7.19978065e+01  7.19387271e+01  7.34976640e+01  7.13833991e+01
  -2.30313272e+01  1.46801459e+04  1.48881500e+04  1.50961541e+04
   2.79422352e+00  8.16123585e-01  1.35756072e-02  4.00000000e+00
   2.00000000e+00  8.87885218e-01  4.60065038e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50310100e+04  1.51149800e+04  1.49000000e+04  1.49880000e+04
   8.60383177e+02  1.49308440e+04  1.49195932e+04  1.05071897e+04
   1.48347220e+04  1.47639706e+04  1.61998158e+04  1.45813347e+04
   1.45939300e+04  2.30717440e+05  1.43394220e+04  1.44473928e+04
   3.60041373e+05  1.37575860e+04  1.38268639e+04  3.96883149e+05
   3.92864248e+02  4.35139670e+01  3.49350281e+02  6.94821775e+01
   7.03739422e+01  6.91330506e+01  7.30300585e+01  7.23116612e+01
  -2.46380342e+01  1.47474782e+04  1.49308440e+04  1.51142098e+04
   2.45620106e+00  6.55852422e-01 -2.10790391e-03  5.00000000e+00
   2.00000000e+00  9.79084088e-01  2.03456013e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.49808900e+04  1.52761300e+04  1.48580100e+04  1.52426300e+04
   9.08687696e+02  1.50153700e+04  1.50272721e+04  2.28074132e+04
   1.48838850e+04  1.48509996e+04  3.12231000e+04  1.46848413e+04
   1.46750175e+04  1.93730516e+05  1.44235535e+04  1.45231297e+04
   3.63553154e+05  1.37904184e+04  1.38823841e+04  4.40290114e+05
   4.07497944e+02  4.65181302e+01  3.60979814e+02  7.32494870e+01
   7.53435029e+01  7.75742156e+01  8.02049236e+01  7.55775487e+01
  -1.17158676e+01  1.47452150e+04  1.50153700e+04  1.52855250e+04
   3.59837949e+00  9.20610395e-01  1.69889245e-02  6.00000000e+00
   2.00000000e+00  9.97668769e-01 -6.82424134e-02  8.66025404e-01
  -5.00000000e-01]
 [ 1.52426400e+04  1.53075600e+04  1.51302400e+04  1.51700000e+04
   6.61609852e+02  1.50477560e+04  1.50748481e+04  2.74606337e+04
   1.49316450e+04  1.49089997e+04  3.37103346e+04  1.47901733e+04
   1.47368903e+04  1.13039282e+05  1.45075535e+04  1.45847364e+04
   3.39581588e+05  1.38226386e+04  1.39328789e+04  4.76979486e+05
   4.08525393e+02  3.80364632e+01  3.70488930e+02  7.05733422e+01
   7.15402222e+01  7.09344380e+01  8.19938022e+01  7.84095948e+01
  -1.76646916e+01  1.47513205e+04  1.50477560e+04  1.53441915e+04
   3.93993015e+00  7.06189853e-01 -4.76492574e-03  7.00000000e+00
   2.00000000e+00  9.42260922e-01 -3.34879612e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.51700000e+04  1.51729900e+04  1.49000000e+04  1.50025900e+04
   8.95934758e+02  1.50845760e+04  1.50507621e+04  1.31352604e+04
   1.49519080e+04  1.49260161e+04  3.18865971e+04  1.48716793e+04
   1.47701028e+04  3.62551572e+04  1.45832310e+04  1.46245319e+04
   2.91852625e+05  1.38470822e+04  1.39748283e+04  5.04747396e+05
   3.91320170e+02  1.66649925e+01  3.74655178e+02  6.47052792e+01
   6.33502278e+01  5.73557022e+01  7.44069587e+01  7.88685615e+01
  -4.73985647e+01  1.48795569e+04  1.50845760e+04  1.52895951e+04
   2.71826142e+00  3.00052780e-01 -1.10355966e-02  8.00000000e+00
   2.00000000e+00  8.16969893e-01 -5.76680322e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.50025900e+04  1.50480000e+04  1.44400000e+04  1.45199900e+04
   1.24190478e+03  1.49846420e+04  1.48738380e+04  7.92875711e+04
   1.49363960e+04  1.48521932e+04  4.38343532e+04  1.48676787e+04
   1.47388387e+04  3.89957624e+04  1.46159815e+04  1.46145756e+04
   2.63782258e+05  1.38660750e+04  1.39962072e+04  5.12057353e+05
   3.34882800e+02 -3.18179021e+01  3.66700702e+02  5.14295736e+01
   4.63531007e+01  3.45058909e+01  4.80522851e+01  6.81510153e+01
  -9.07798884e+01  1.44809355e+04  1.49846420e+04  1.54883485e+04
   6.72296995e+00  3.87671096e-02 -3.21677790e-02  9.00000000e+00
   2.00000000e+00  6.31087944e-01 -7.75711291e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.45010500e+04  1.48550000e+04  1.41500000e+04  1.44555500e+04
   1.27103402e+03  1.48781520e+04  1.47344087e+04  1.35094188e+05
   1.49044980e+04  1.47800762e+04  6.54829587e+04  1.48491987e+04
   1.47034276e+04  4.94615936e+04  1.46555390e+04  1.45994303e+04
   2.15831468e+05  1.38851862e+04  1.40142207e+04  5.16041039e+05
   2.81708646e+02 -6.79936447e+01  3.49702291e+02  4.99557145e+01
   4.45785870e+01  3.24353937e+01  2.94058623e+01  5.06217020e+01
  -7.36039601e+01  1.42206557e+04  1.48781520e+04  1.55356483e+04
   8.83841371e+00  1.78627856e-01 -4.43801959e-03  1.00000000e+01
   2.00000000e+00  3.98401090e-01 -9.17211302e-01  8.66025404e-01
  -5.00000000e-01]
 [ 1.44555500e+04  1.47718400e+04  1.42000000e+04  1.47300500e+04
   7.93929390e+02  1.47756360e+04  1.47329558e+04  9.42297727e+04
   1.48955030e+04  1.47709806e+04  6.79810801e+04  1.48478020e+04
   1.47067554e+04  4.97847484e+04  1.47075400e+04  1.46118702e+04
   1.64213688e+05  1.39074474e+04  1.40422924e+04  5.28634664e+05
   2.58735065e+02 -7.27737804e+01  3.31508846e+02  5.57704157e+01
   5.30801948e+01  4.82947096e+01  2.85752884e+01  3.53444786e+01
  -4.98902865e+01  1.42265137e+04  1.47756360e+04  1.53247583e+04
   7.43280729e+00  4.58491941e-01  1.89892463e-02  1.10000000e+01
   2.00000000e+00  1.36166649e-01 -9.90685946e-01  8.66025404e-01
  -5.00000000e-01]], shape=(10, 41), dtype=float64)
tf.Tensor([1. 0.], shape=(2,), dtype=float32)
(128, 2)

In [12]:
import importlib
build_model = getattr(importlib.import_module(f'ml_investing_wne.tf_models.lstm'),'build_model')
model = build_model(input_shape=(10, 41), nb_classes=config.nb_classes)

2023-07-02 09:47:34.844791: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:34.846016: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:34.846873: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:35.006351: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:35.007318: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:35.008301: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:35.154659: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:35.156144: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:35.157143: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]

In [13]:
model.fit(train_dataset_2, epochs=1, verbose=2)

2023-07-02 09:47:36.873650: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:36.875030: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:36.876070: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:37.012117: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:37.013231: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:37.014256: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:37.150964: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:37.152341: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:37.153417: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:37.986804: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:37.988166: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:37.989273: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:38.128634: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:38.129976: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:38.131140: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:47:38.270232: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:47:38.271517: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:47:38.272813: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]

348/348 - 44s - loss: 0.6950 - accuracy: 0.5074 - 44s/epoch - 128ms/step

In [14]:
y_pred = model.predict(train_dataset_2)

2023-07-02 09:49:19.063328: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:49:19.064814: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:49:19.065663: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:49:19.196899: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:49:19.198100: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:49:19.199187: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]
2023-07-02 09:49:19.331713: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-02 09:49:19.333074: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-02 09:49:19.334263: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]

348/348 [==============================] - 14s 39ms/step

In [18]:
y_pred

array([[0.99999994],
       [0.99999994],
       [0.99999994],
       ...,
       [1.        ],
       [1.        ],
       [1.        ]], dtype=float32)

In [46]:
y_pred.shape

(44468, 1)

In [65]:
import pandas as pd

In [66]:
y_pred = pd.DataFrame(y_pred, columns=['y_pred'])
y_pred

       y_pred
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
...       ...
44463     1.0
44464     1.0
44465     1.0
44466     1.0
44467     1.0

[44468 rows x 1 columns]

In [43]:
date_index_dataset = tf.keras.utils.timeseries_dataset_from_array(train_examples[:-sequence_length], targets=date_index.values[sequence_length-1:, 0].astype(int),
                                                            sequence_length=sequence_length, sequence_stride=1, batch_size=128)

In [52]:

for i, batch in enumerate(date_index_dataset):
    if i == 0:
        indices = batch[1].numpy()
    else:
        indices =  np.concatenate((indices, batch[1].numpy()), axis=0)
print(indices.shape)

(44468,)

       index            datetime
0          9 2018-01-03 10:00:00
1         10 2018-01-03 11:00:00
2         11 2018-01-03 12:00:00
3         12 2018-01-03 13:00:00
4         13 2018-01-03 14:00:00
...      ...                 ...
44463  44472 2023-01-31 07:00:00
44464  44473 2023-01-31 08:00:00
44465  44474 2023-01-31 09:00:00
44466  44475 2023-01-31 10:00:00
44467  44476 2023-01-31 11:00:00

[44468 rows x 2 columns]

In [71]:
y_pred_with_index = pd.concat([y_pred, date_index.iloc[indices].reset_index(drop=True)], axis=1) 
y_pred_with_index

       y_pred  index            datetime
0         1.0      9 2018-01-03 10:00:00
1         1.0     10 2018-01-03 11:00:00
2         1.0     11 2018-01-03 12:00:00
3         1.0     12 2018-01-03 13:00:00
4         1.0     13 2018-01-03 14:00:00
...       ...    ...                 ...
44463     1.0  44472 2023-01-31 07:00:00
44464     1.0  44473 2023-01-31 08:00:00
44465     1.0  44474 2023-01-31 09:00:00
44466     1.0  44475 2023-01-31 10:00:00
44467     1.0  44476 2023-01-31 11:00:00

[44468 rows x 3 columns]

In [38]:
train_examples.shape

(44487, 41)

In [40]:
targets

array([1, 0, 1, ..., 0, 0, 1])

In [ ]:
train_dataset_2 = tf.keras.utils.timeseries_dataset_from_array(train_examples[:-sequence_length], targets=train_labels[sequence_length-1:],
                                                            sequence_length=sequence_length, sequence_stride=1, batch_size=128)

In [23]:
y_true = np.array([])  # store true labels
     # iterate over the dataset
for x, label_batch in train_dataset_2:   # use dataset.unbatch() with repeat
     # append true labels
    y_true = np.concatenate((y_true, label_batch.numpy()), axis=0)

In [25]:
y_true.shape

(44468,)

In [19]:
label_batch2 = label_batch.numpy()

In [20]:
np.stack(label_batch.numpy(), label_batch2)

TypeError: only integer scalar arrays can be converted to a scalar index

In [21]:
np.concatenate((label_batch.numpy(), label_batch2), axis=0)

array([1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1])